@media screen and (min-width: 320px){

    .block-illustration {
        display: none;
    }

    .block-auth {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
        padding: 20px 15px;
    }

    .block-auth__head {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 2px;
    }

    .block-auth__head img {
        height: 30px;
    }

    .block-auth__section {
        padding: 20px 0;
    }

    .block-auth__section h3 {
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-weight: 300;
        color: #4c4c4c;
    }

    .block-auth__section h3 span {
        font-weight: 500;
    }

    .socials {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 200px;
        margin: 35px auto 20px;
    }

    .social {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 46px;
        height: 46px;
        box-shadow: 0px 1px 3px 0px rgba(208, 208, 208, 0.95);
        border-radius: 2px;
    }

    .social svg {
        width: 22px;
        height: 22px;
    }

    .block-auth__footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 50px;
    }

    .block-auth__footer a {
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-weight: 300;
        padding: 17.5px 0;
        border-radius: 2px;
        color: #4c4c4c;
    }
}


@media screen and (min-width: 768px) {
    .section-auth {
        background-color: #eeeeee;
    }

    .flex-auth {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        height: 100vh;
    }

    .block-illustration {
        display: block;
        width: 45%;
    }

    .block-illustration img {
        width: 80%;
    }

    .block-auth {
        width: 320px;
        height: 430px;
        border-radius: 2px;
        padding: 20px 30px;
        background-color: #ffffff;
    }

    .social {
        cursor: pointer;
    }
}

@media screen and (min-width: 1024px){
    .block-illustration {
        width: 45%;
    }

    .block-illustration img {
        width: 95%;
    }

    .block-auth {
        width: 380px;
        height: 490px;
    }

    .social:hover {
        box-shadow: 0px 2px 6px 0px rgba(208, 208, 208, 1);
    }
}