@media screen and (min-width: 320px){
    .flex-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
        min-height: 390px;
        max-height: 440px;
        padding: 0 10px;
    }

    .flex-main__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4px 0 20px;
    }

    .flex-main__content h2 {
        text-align: left;
        font-family: 'Roboto', sans-serif;
        font-size: 40px;
        line-height: 46px;
        font-weight: 500;
        color: #000000;
        margin-bottom: 20px;
    }

    .flex-main__content h3 {
        text-align: left;
        font-family: 'Roboto', sans-serif;
        font-size: 17px;
        line-height: 24px;
        font-weight: 400;
        color: #222225;
        margin-bottom: 20px;
    }

    .flex-main__content p {
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-style: italic;
        line-height: 19px;
        color: #bababa;
    }

    .flex-main__links {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        min-width: 290px;
        max-width: 320px;
    }

    .flex-main__links a svg {
        width: 120px;
        height: 50px;
    }
}

@media screen and (min-width: 768px){
    .flex-main {
        min-height: 450px;
    }
}

@media screen and (min-width: 1024px){
    .flex-main {
        min-height: 650px;
    }
}