@media screen and (min-width: 320px){
    .section-video {
        background: rgba(68, 141, 255, 1);
    }

    .flex-video {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 35px 0;
    }


    .mobile-section video {
        width: 100%;
    }
}

@media screen and (min-width: 768px){

}